@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  max-width: 1440px;     
}

#doc_page {
  margin: 0 auto;
  max-width: 1400px;
}
/*header part*/
header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  height: 95%;
  width: 100%;
  margin: auto;
}

header img {
  width: 100px; 
  align-self: center;
}

nav {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  margin: 0px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
}

#logo_reservia {
  display: flex;
  justify-self: flex-start;
}

.link_nav {
 border: 2px;
 display: flex;
 color: blue;
 padding: 2rem;
 text-align: center;
 transition-duration: 0.1s;
}

 



.button_nav {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center; 
  border-bottom: 0px transparent solid; /*2*/
  border-top: 4px transparent solid;
  border-radius: 2px;
} 



.button_nav:hover{
  border-top: 4px solid #0065FC; /*2*/
  font-weight: bold;
  color: #0065FC;
}

#signup {
  color: #0065FC;
  font-weight: bold;
}
/*search bar*/
#searchsec h2 {
  margin-bottom: 20px;
}

#searchsec {
  width: 100%;
  margin: auto;
  max-width: 1440px;

}

div.search_bar {
  display: inline-flex;
  margin-top: 20px;
  border: 1px solid #F2F2F2;
  border-radius: 15px;

}

.here {
  background-color: #F2F2F2;
  font-size: 1.5em;
  padding: 15px;
  text-align: center;
  border-radius: 15px 0px 0px 15px;
}

#search {
  font-size: 1.1em;
  padding: 13px;
  font-weight: bold;
  border: none;
}

button {
  background-color: #0065FC;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 0px 15px 15px 0px;
}

#iconesearch {
  display: none;
}  
/*filters section*/
#filters {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  padding: 0;
  list-style-type: none;
  margin: 10px 0;
  font-size: 18px;
  flex-wrap: wrap;
}

#box_filters {
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-flow: row wrap;
}

.logos {
  border: 3px solid #F2F2F2;
  width: 220px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin: 10px 10px 0 0;
}

li:hover .logofilter {
  cursor: pointer;
  background-color: white;
}

.logos:hover {
  background-color: #DEEBFF;
}

.logofilter {
  color: #0065FC;
  font-size: 1.4em;
  background: #deebff;
  border-radius: 50px;
  padding: 16px;
  width: 30px;
  text-align: center;
}

.filter_name {
  padding-left: 10px;
  font-size: 16px;
  margin: 0 10px 0 0;
}

#box_filters h3 {
  margin: 10px 10px 0 0;
}
/*info btn*/
#info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.info {
  border: 2px solid #f2f2f2;
  padding: 6px;
  border-radius: 50px;
  width: 18px;
  text-align: center;
  margin-right: 10px;
  color: #0065FC;
}

/*lodging part*/
#lodgingsec {
  margin-top: 30px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 40px;
  /* width: 95%; */
  margin: auto;
}

#marseille {
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 40px;
  max-width: 820px;
}

.bloc_lodging {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 880px;
  grid-column-gap: 25px;
  grid-row-gap: 30px;
  max-width: 1440px;
}

.box_lodging {
  max-width: 240px;
  height: 200px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #797b80;
}

img.imglodging {
  width: 100%;
  height: 115px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  display: flex;
  margin: auto;
}

p,h3 {
  margin: 0px;
  color: black;
}

.bloctext {
  padding: 15px;
  width: 100%;
}

.starblue {
  color:  #0065FC;
}

.stargrey {
  color: #F2F2F2;
}

a.min_photo {
  text-decoration: none;
}

.box_lodging:hover { 
  transform: scale(1.05);
  transition: 0.5s;
}

/*loding part*/
#popular
{
  border-radius: 25px;
  background-color: #F2F2F2;
  padding: 40px;
  max-width: 340px;
}
.bloc_popular
{
  display: grid;
  grid-template-columns: 340px;
  grid-template-rows: 145px 145px 145px;
  max-width: 420px;
  grid-row-gap: 35px;
}
.box_popular {
  max-width: 340px;
  height: 145px;
  background-color: white;
  padding: 0 5px;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #797b80;
}

.box_popular:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

img.imgpopular {
  width: 100%;
  height: 135px;
  object-fit: cover;
  border-radius: 15px 0px 0px 15px;
}

.bloc2 {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 140px;
  max-width: 340px;
  display: grid;
  align-items: flex-end;
}

#title_popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graph {
  font-size: 1.5em;
}

.bloctext_popular {
  padding: 15px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#showmore {
  margin-top: 20px;
}
/*activity part*/
#activity {
  width: 95%;
  margin: auto;
}

h2#title_activity {
  margin-top: 60px;
}

#bloc_activity {
  /*width: 100px;*/
  display: flex;
  column-gap: 40px;
  margin-top: 30px;
  flex-direction: row;
  justify-content: center;
  /*flex-wrap: wrap;*/
}

#bloc_media
{
  display: none;
}
#vignette1 {
  display: flex;
  width: 300px;
  height: 450px;
  margin-bottom: 40px;
}

#photo1 {
  max-width: 300px;
  max-height: 390px;
  margin: 0;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  display: flex;
  width: 100%;
}

#intitule1 {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  color: black;
  padding-left: 20px;
}

#vignette2 {
  display: flex;
  height: 240px;
  width: 300px;
  margin-bottom: 50px;
}

#photo2 {
  max-width: 300px;
  max-height: 180px;
  margin: 0;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  display: flex;
  width: 100%;
}

#intitule2 {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  color: black;
  padding-left: 20px;
}

#vignette3 {
  display: flex;
  height: 160px;
  width: 300px;
}

#photo3 {
  max-width: 300px;
  max-height: 100px;
  margin: 0;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  display: flex;
  width: 100%;
}

#intitule3 {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  color: black;
  padding-left: 20px;
}

#vignette4 {
  display: flex;
  height: 450px;
  width: 300px;
}

#photo4 {
  max-width: 300px;
  max-height: 390px;
  margin: 0;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  display: flex;
  width: 100%;
}

#intitule4 {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  color: black;
  padding-left: 20px;
}

#vignette5 {
  display: flex;
  height: 190px;
  width: 300px;
  margin-bottom: 50px;
}

#photo5 {
  max-width: 300px;
  max-height: 130px;
  margin: 0;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  display: flex;
  width: 100%;
}

#intitule5 {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  color: black;
  padding-left: 20px;
}

#vignette6 {
  display: flex;
  height: 210px;
  width: 300px;
}

#photo6 {
  max-width: 300px;
  max-height: 150px;
  margin: 0;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  display: flex;
  width: 100%;
}

#intitule6 {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  color: black;
  padding-left: 20px;
}

figure {
  box-shadow: 1px 1px 12px #797b80;
  margin: 0;
  border-radius: 25px;
}

figcaption {
  height: 60px;
  width: auto;
  position: absolute;
  align-self: flex-end;
}

a {
  text-decoration: none;
}

figure:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
/*footer*/
footer {
  display: flex;
  background-color: #f2f2f2;
  height: 220px;
  margin-top: 90px;
  justify-content: center;
}

footer h3 {
  font-size: 1.5em;
  margin: 40px 0 20px 0;
}

.bloc_footer {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  width: 33%;
  padding-top: 15px;
}

.text_footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 30px;
}

a.link_footer:hover {
  color: #0065FC;
  text-decoration: underline;
}

/*Responsive mobile*/
@media screen and (min-width: 768px){
  nav 
  {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  .bloc2 
  {
    grid-template-columns: 35% 65%;
  }
  img.imgpopular 
  {
    width: 100%;
  }
  .bloctext, .bloctext_popular 
  {
    font-size: 92%;
  }
  #bloc_activity
  {
    flex-wrap: wrap;
  }

  .photo_activites 
  {
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    height: 70%;
  }

  figcaption 
  {
    max-width: 220px;
  }

}

@media screen and (max-width: 767px) 
{
  body 
  {
    /*margin-top: 30px;*/
  }

  header 
  {
    margin: 0px;
    width: 100%;
  }

  nav 
  {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }

  #signup 
  {
    grid-area: -3/-2/-2/-2;
    justify-content: flex-end;
    margin-right: 20px;
  }

  #logo_reservia 
  {
    grid-area: -3/-2/-2/-3;
    margin-left: 20px;
  }

  #lodging, #activity:hover 
  {
    border-bottom: 3px solid #0065FC;
    border-top: none;
  }

  #link_nav_bas{
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    align-items: center;
  }

  #signup:hover 
  {
    border-top: none;
  }

  #searchsec 
  {
    padding:0 20px;
    width: auto;   
  }

  #searchsec h2 
  {
    margin-top: 60px;
    width: 100%;
  }

  #search_btn 
  {
    display: none;
  }

  .search_bar 
  {
    width: 95%;
  }

  #search 
  {
    width: 80%;
  }

  #iconesearch 
  {
    display: flex;
    align-items: center;
    width: 13%;
    justify-content: center;
    border-radius: 0 15px 15px 0;
    font-size: 1.2em;
  }

  #box_filters 
  {
    max-width: 767px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .logos 
  {
    margin: 0 0 15px 0;
    width: auto;
    padding-right: 10px;
    margin-right: 10px;
    height: 45px;
  }

  #filters 
  {
    flex-wrap: wrap;
    display: flex; 
  }

  .logofilter 
  {
    height: 1.1em;
  }

  .logos .fas 
  {
    font-size: 1.1em;
    padding: 13px;
    width: 20px;
  }

  .info 
  {
    margin: 0;
  }

  #info
  {
    margin-top: 0;
  }

  #p_info 
  {
    margin-left: 10px;
  }

  #lodgingsec 
  {
    width: auto;
  }

  #popular 
  {
    border-radius: 20px;
    margin-left: 35px;
  }
  
  .bloc_popular 
  {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .box_popular 
  {
    max-width: 767px;
  }

  #marseille 
  {
    background-color: white;
  }

  .bloc_lodging 
  {
    display: flex;
    flex-direction: column;
    width: 97.5%;
    margin: auto;
  }

  .box_lodging 
  {
    box-shadow: 1px 1px 5px #d0d2d6;
  }

  img.imglodging 
  {
    width: 99%;
  }

  #showmore 
  {
    margin: 0;
  }

  #activitysec 
  {
    width: auto;
    margin-bottom: 3px;
  }

  #bloc_activity 
  {
    /*flex-direction: column;*/
    width: auto;
    padding: 0 20px;
    margin-left: 5px;
  }

  .vignette 
  {
    width: 100%;
    margin-bottom: 10px;
  }

  #vignette1, #vignette4, #vignette6,#vignette5, #vignette3 
  {
    height: 250px;
    margin-top: 30px;
  }

  img.photo_activites 
  {
    height: 190px;
    max-width: 100px;/*767*/
    width: 100%;
  }

  #photo1, #photo2, #photo3, #photo4, #photo5, #photo6
  {
    max-height: 190px;
    width: 100%;
    max-width: 100%;
  }

  #intitule1, #intitule2, #intitule3, #intitule4, #intitule5, #intitule6 
  {
    height: 55px;
  }

  .title 
  {
    padding-left: 20px;
    display: flex;
    align-items: center;
    margin-top: -5px;
    margin-right: 50px;
  }

  footer 
  {
    margin-top:60px;
    height: 100%;
    flex-direction: column;
    padding-bottom: 60px;
    padding-left: 35px;
  }
  .bloc_footer 
  {
    width: auto;
  }
}


@media screen and (max-width: 1440px) and (max-width: 1024px)
{
  body
  {
    max-width: 1400px;
  }
 
  header
  {
    max-width: 1400px;
    width: 96%;
    margin: auto;
  }

  #searchsec
  {
    width: 96%;
    margin: auto;
    max-width: 1400px;
  }

  .bloc_lodging
  {
    max-width: 1400px;
  }

  #lodgingsec
  {
    grid-template-columns: 1fr;
  }

  #box_lodging
  {
    max-width: 400px;
    width: 100%;
  }

  #activitysec h2
  {
    margin: 30px 0px 0px 20px;
  }

  #popular 
  {
    padding: 10px 20px 20px 20px;
    grid-area: 1/1/2/2;
    max-width: 1400px;
  }
  
  .bloc_popular 
  {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    max-width: 1400px;
   }

   .bloc2 
  {
    max-width: 1400px;
    width: 100%;
  }

  .box_popular 
  {
    width: 98%;
    max-width: 400px;
  }

  .bloctext_popular 
  {
    padding: 0 0 0 10px;
    height: 95%;
  }

  #marseille 
  {
    max-width: 1400px;
    padding: 20px;
    margin-top: 20px;
  }

  .box_lodging 
  {
    max-width: 1400px;
  }

  img.lodging 
  {
    max-width: 100%;
  }

  #activitysec 
  {
    width: 97%;
  }

  #bloc_activity
  {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    max-width: 1400px;
    justify-content: center;
  }

  .photo_activites 
  {
    width: 100%;
    max-width: 420px;
    max-height: 300px;
    height: 80%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
  }

  figure 
  {
    width: auto;
  }

  figcaption 
  {
    padding-left: 20px;
    display: flex;
    align-items: center;
    margin-top: -5px;
  }

  footer 
  {
    max-width: 1400px;
    width: 100%;
  }  
}  


